<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="foot">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.2" integrity="sha384-0RHpPqZ4QLJXG/ALtieEL/G+NuAI98LYSkT9s6FgciveUhAdo/6wab5NU1tm2Bxs" crossorigin="anonymous"></script>
  <script type="text/javascript">
    document.body.addEventListener('htmx:configRequest', (evt) => {
      evt.detail.headers['accept'] = 'text/html-partial';
      if (evt.detail.verb !== 'get') {
        const csrfHeader = document.querySelector('meta[name=csrf-header]').getAttribute('content');
        const csrfToken = document.querySelector('meta[name=csrf-token]').getAttribute('content');
        if (csrfHeader != null && csrfToken != null) {
          evt.detail.headers[csrfHeader] = csrfToken;
        }
      }
    });
  </script>
</div>
</body>
</html>